
body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

html {
    font-size: 10px;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

ul {
    font-size: 3rem;
    font-family: sylfaen;
    font-weight: bold;

   
    
}